nav ul {

margin: 20px;
    padding: 10px;
    text-align: end;
    
}
nav ul li {
    display: inline-table;
    margin:  10px;
    
}
nav ul li a {
    color:black;
    text-decoration: none;
}
body {
    font-family: nunito;
    background-color:white;
}
button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; 
    border-radius: 5px; 
}

button:hover {
    background-color: #0056b3; 
}


header{
    text-align: center;
    background-color: white;
    color: rgb(7, 7, 7);

}
.juu{
    background-image: url("IMAGES/hero.png");
    text-align: center;
    font-family: nunito;
    color: white;
    height: 700px;
}
h1{
    text-align: center;
    color: rgb(19, 17, 17);
    height: 70px;

}
p{
    color: rgb(17, 16, 16);
    text-align:center;
    height: 70px;
    font-size: x-large;
}


